@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 40px 0;
}

.logo img {
	width: 240px;
}

header form {
	display: flex;
	align-items: center;

	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;

	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {
	font-family: inherit;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
}

#coloredInput {
	background-color: #FF1654;
}

::placeholder{
	color : #fff;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.topcontainer{
	background-color: #FF1654;
	margin-bottom: 2%;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #FF1654;
	background-color: #fff;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.bottom{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #FF1654;
	text-align: center;
	color: #fff;
	padding: 1.20%;
   }

.container-filter {
	display: flex;
}

.icon-filter {
	display: flex;
	align-items: center;
	gap: 15px;

	margin-bottom: 20px;
	cursor: pointer;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #555;
}

.card-list-pokemon {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.card-pokemon {
	cursor: pointer;
	text-decoration: none;
}

.card-img {
	background-color: #f2f2f2;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 250px;
}

.card-img img {
	width: 100%;
	height: 100%;
}

.card-info {
	padding: 15px;
}

.card-info h3 {
	color: #333;
}

.pokemon-id {
	display: block;
	color: #888;
	margin-bottom: 15px;
}

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
}

.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

.container-filters {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;

	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 140px;
	transition: all 0.3s linear;
}

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}


.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}


.container-btn-load-more{
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: #FF1654;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 4%;
	
}
